/* General */
.app-container {
    background-color: white;
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px;
}

/* DAY */
.day-container {
    width: 100%;
    min-height: 250px;
}

.table-meals {
    width: 100%;
    border: 2px solid var(--grey-2);
    border-radius: 10px;
    border-collapse: separate; /* Keep separate for rounded corners */
    border-spacing: 0; /* Remove spacing between cells */
    background-color: var(--grey-2);
}

.table-meals .td-dairy-data {
    text-align: right;
    font-weight: normal;
}

.table-meals .tr-meal .td-meal, .table-meals .tr-meal .td-dairy-data {
    font-size: 14px;
}

.table-meals:hover {
    cursor: pointer;
}

.table-meals .tr-meal {
    background-color: var(--grey-2);
}

.td-meal, .tr-meal td{
    padding: 5px;
    border-bottom: 1px solid var(--grey-3);
    font-weight: bold;
}

/* Rounded table borders */
.table-meals .tr-meal:first-of-type td:first-of-type, .table-meals .tr-meal:first-of-type td:last-of-type{
    border-top: 0;
}

.tr-meal.last td {
    border-bottom: 0;
}

.meal-toggle-btn {
    border: 0;
    width: 40px;
    background-color: transparent;
    border-radius: 10px;
}

.meal-toggle-btn:hover {
    background-color: var(--grey-5);
}

/* Food Summary */
.food-summary-container {
    width: 100%;
}

/* Food table (ingredients) */
.table-food {
    width: 100%;
    font-size: 14px;
}

.table-food tr td {
    padding: 5px;
}

.table-food tr {
    background-color: white;
}

.table-food tr:nth-child(2n) {
    background-color: var(--grey-1);
}
