/* Details Form */
.serving-table th{
    background-color: var(--grey-2);
}

.na {
    border: 1px solid;
    margin: auto;
    height: 100%;
    text-align: center;
    display: block;
}

/* Search form */
.search-container {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.search-container button[type="button"] {
    width: 100px;
    display: block;
    margin: auto;
}
/* Nutrition Data Form */

.nutrient-input {
    min-width: 50px;
    max-width: 80px;
    text-align: center;
    margin-right: 2px;
    padding: 0;
    border: 0;
    appearance: none;
    -moz-appearance: textfield;
}

.nutrient-input::-webkit-outer-spin-button, .nutrient-input::-webkit-inner-spin-button {
    -webkit-appearance: none; /* This removes the up and downt bottom. */
}

/* Search results */
.cf-search-results .results {
    width: 90%;
    margin: auto;
    max-height: 300px;
    overflow-y: scroll;
}

.cf-search-results table thead th {
    background-color: var(--grey-2);
    position: sticky;
    top: 0;
    z-index: 1;
}

.cf-search-results table {
    border-collapse: collapse;
}

.cf-search-results table tbody tr:nth-of-type(2n) td{
    background-color: var(--grey-1);
}



.cf-search-results table .selected td{
    background-color: aquamarine !important;
}

/* Nutrition Data Form tables*/


.nutrient-table th {
    background-color: var(--grey-2);
}
.nutrient-table th:nth-of-type(3), .nutrient-table td:nth-of-type(3) {
    text-align: right;
}
