/* General */
.app-container {
    background-color: white;
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px;
    color: black;
    border: 2px solid var(--grey-7);
    border-radius: 10px;
}

/* DAY */
.day-container {
    width: 100%;
    min-height: 250px;
}


/* Food Summary */
.food-summary-container {
    width: 100%;
}


