:root {
    --nav-height: 100px;
}

body {
    margin: 0;
    font-family: sans-serif !important;
    height: 100%;
}

#home-page {
    width: 100%;
    height: 100%;
    background-color: var(--dark-raisin);
    color: white;
}

/* Navigation */
.main-nav {
    display: flex;
    justify-content: space-between;
    height: var(--nav-height);
    width: 100%;
    padding: 20px;
    padding-top: 40px;
    font-size: 20px;
    position: fixed;
    background-color: var(--dark-raisin);
    color: white;
}

.main-nav button {
    color: white;
}

.main-nav .content {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.main-nav-left, .main-nav-right {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.main-nav-right nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.main-nav-right nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}

.main-nav-right li {
    list-style-type: none;
}

.main-nav a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.nav-button {
    border: 1px solid;
    border-radius: 15px;
    width: 125px;
    color: white;
    padding: 5px 10px;
    background-color: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* Hero section */
#hero {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    padding-top: var(--nav-height);
}


#hero #signup-btn {
    width: 200px;
    height: 50px;
    font-size: 18px;
    border-radius: 20px;
    font-weight: bold;
    background-color: darkturquoise;
}

#hero button:hover {
    cursor: pointer;
}
