.custom-modal-backdrop {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    overflow: hidden;
}

.custom-modal {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px 10px 10px 10px;
    z-index: 1;
}

.custom-modal-header {
    font-weight: bold;
    font-size: 12px;
}

