.modal-backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.custom-modal {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
}

.custom-modal-header {
    font-weight: bold;
    font-size: 12px;
}

/* When the screen is small make the modal bigger */
@media (min-width: 0px) and (max-width: 800px) {
    .custom-modal {
        width: 95%;
        overflow: scroll;
    }
}