/* Rounded table */
.nutrient-table {
    border: 2px solid var(--grey-2);
    border-collapse: separate; /* Allows rounding on corners */
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden; /* Clips content to border radius */
}

/* Remove bottom border from last row */
.nutrient-table tbody tr:last-child td {
    border-bottom: none;
}

.nutrient-table th:first-child {
    border-top-left-radius: 10px;
}

.nutrient-table th:last-child {
border-top-right-radius: 10px;
}

.nutrient-table td:first-child {
border-bottom-left-radius: 10px;
}

.nutrient-table td:last-child {
border-bottom-right-radius: 10px;
}

/* Nutrient target table */
.nutrient-table thead {
    border-radius: 10px;
    border: 1px solid var(--grey-2);
}

.nutrient-table tbody tr:nth-of-type(even) td{
    background-color: var(--snow-white);
}


/* Nutrition Data Form tables*/
.nutrient-table th {
    background-color: var(--grey-2);
}

.nutrient-table th:nth-of-type(3), .nutrient-table td:nth-of-type(3) {
    text-align: right;
}
