
.food-products-container {
    background-color: var(--snow-white);
    min-height: 500px;
    padding: 20px 10px;
}

.delete-btn:hover {
    color: red;
}

/* Navigation buttons */
.add-food-btn, .back-to-index-btn {
    display: flex;
    align-items: center;
    color: green;
    font-weight: bold;
    background: transparent;
    border: 0;
    padding: 0;
}

.add-food-btn .material-symbols-outlined {
    color: white;
    background-color: green;
    border-radius: 100%;
    margin-right: 5px;
}
